<div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
  <form class="mat-card mat-elevation-z4 p-24" 
    fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
    #f="ngForm" (ngSubmit)="salvar(f)">

    <div style="display: inline-block;">
      <div style="display: inline-block;" class="h2 mb-24">{{ editando ? 'Edição de' : 'Novo' }} Vinculado </div>
      <div style="display: inline-block; float: right;">
        <a mat-icon-button routerLink="/perfil/vinculados">
            <mat-icon>arrow_back</mat-icon>
        </a>
      </div>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutAlign="start center" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start"
      fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
          <mat-label>Nome</mat-label>
          <input matInput name="nome" [(ngModel)]="vinculado.nome"
            #nome="ngModel" required minlength="3">
          <mat-icon matSuffix class="disabled-text">account_circle</mat-icon>
          <mat-error *ngIf="nome.hasError('required')">Nome obrigatório</mat-error>
          <mat-error *ngIf="nome.hasError('minlength')">Minimo de {{ nome.errors?.minlength?.requiredLength }} caracteres</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutAlign="start center" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start"
      fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="40" fxFlex.sm="100" fxFlex.xs="100" class="pr-4">
          <mat-label>Nº celular</mat-label>
          <input matInput ngxPhoneMaskBr valueType="full"
            name="telefone" [(ngModel)]="vinculado.telefone" #telefone="ngModel"
            minlength="14">
          <mat-icon matSuffix class="disabled-text">phone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="40" fxFlex.sm="100" fxFlex.xs="100" class="pl-4 pr-4">
          <mat-label>Data nascimento</mat-label>
          <input matInput [matDatepicker]="dtNascimento" name="dataNascimento" [(ngModel)]="vinculado.dataNascimento"
            #dataNascimento="ngModel" required>
          <mat-datepicker-toggle matSuffix [for]="dtNascimento"></mat-datepicker-toggle>
          <mat-datepicker #dtNascimento></mat-datepicker>
          <mat-error *ngIf="dataNascimento.hasError('required')">Data nascimento obrigatória</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="40" fxFlex.sm="100" fxFlex.xs="100" class="pl-4">
          <mat-label>Gênero</mat-label>
          <mat-select name="genero" [(ngModel)]="vinculado.genero"
            #genero="ngModel" required>
            <mat-option *ngFor="let genero of generos" [value]="genero.value">
              {{ genero.viewValue }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix class="disabled-text">nature</mat-icon>
          <mat-error *ngIf="genero.hasError('required')">Gênero obrigatório</mat-error>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="accent" fxFlex="10" fxFlex.xs="100"
        type="submit" [disabled]="f.invalid">Salvar</button>
    </div>
  </form>
</div>