<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

          <div class="logo">
              <img src="assets/images/logos/fuse.svg">
          </div>

          <div class="title">LOGIN PELO CELULAR</div>

          <form name="loginForm" [formGroup]="loginForm" novalidate>

              <mat-form-field appearance="outline">
                  <mat-label>Nº Celular</mat-label>
                  <input matInput formControlName="celular" mask="(00) 00000-0000">
                  <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                  <mat-error *ngIf="loginForm.get('celular').hasError('required')">
                      Nº celular obrigatório
                  </mat-error>
                  <mat-error *ngIf="loginForm.get('celular').hasError('celular_inexistente')">
                    Nº celular inexistente
                </mat-error>
              </mat-form-field>

              <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                      [disabled]="loginForm.invalid"
                      (click)="logar()">
                  LOGIN
              </button>

          </form>

          <div class="register" fxLayout="column" fxLayoutAlign="center center">
              <span class="text">Ainda não possui uma conta?</span>
              <a class="link" [routerLink]="'/pages/auth/register'">Crie agora</a>
          </div>

      </div>

  </div>

</div>
