<div class="sidebar-content">

  <div class="card">

      <!-- SIDEBAR HEADER -->
      <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

          <!-- USER -->
          <img src="assets/images/avatars/profile.jpg" class="avatar mr-16"/>
          <span class="h5">{{ auth.jwtPayload.nome }}</span>
          <!-- / USER -->

      </div>
      <!-- / SIDEBAR HEADER -->

      <!-- SIDEBAR CONTENT -->
      <div class="content py-16" fusePerfectScrollbar>

          <div class="nav material2">

              <div class="nav-item" aria-label="inbox">
                  <a class="nav-link" matRipple
                    routerLink="/perfil/vinculados"
                    routerLinkActive="active accent">
                      <span class="title">Vinculados</span>
                  </a>
              </div>

              <div class="nav-item" aria-label="frequently contacted" (click)="logout()">
                  <a class="nav-link" matRipple >
                      <div class="title">Sair</div>
                  </a>
              </div>
          </div>

      </div>

  </div>

</div>
<!-- / SIDEBAR CONTENT -->
