<mat-table #table [dataSource]="vinculados"
           [@animateStagger]="{value:'50'}">
    
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let vinculado">
            <mat-checkbox (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let vinculado">
            <p class="text-truncate font-weight-600">{{ vinculado.nome }} </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="celular">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Nº celular</mat-header-cell>
        <mat-cell *matCellDef="let vinculado" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{ vinculado.telefone }}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="statusCartao">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Status cartão</mat-header-cell>
        <mat-cell *matCellDef="let vinculado" fxHide fxShow.gt-md>
            <p class="text-truncate">
                <button mat-raised-button
                  [matTooltip]="vinculado.statusCartao ? 'Inativar' : 'Ativar'"
                  matTooltipPosition="above"
                  (click)="$event.stopPropagation(); alterarStatusCartao(vinculado)"
                  [color]="vinculado.cartao.ativo ? 'accent' : 'warn' ">
                  {{ vinculado.cartao.ativo ? 'Ativo' : 'Inativo' }}
                </button>
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let vinculado">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let vinculado; columns: displayedColumns;"
             class="contact"
             (click)="editar(vinculado.id)"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


